
<h4>Search for a book</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ShowSearchResults">
            <div class="form-group">
                <label for="SearchCriteria" class="control-label">Search by: </label>
                <input type="radio" id="title" name="SearchCriteria" value="Title" checked/>
                <label for="title" class="control-label">Title</label>
                <input type="radio" id="author" name="SearchCriteria" value="Author" />
                <label for="author" class="control-label">Author</label>
            </div>
            <div class="form-group">
                <label for="SearchPhrase" class="control-label"></label>
                <input name="SearchPhrase" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Search" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
